.new-user-list-album-page
  %h3 Dodaj
  %h4= @album
  %h3 u listu

  = form_for(@user_list_album, html: {class: 'user-list-album-form'}) do |f|
    = f.hidden_field :album_id

    .form-row
      = f.select :user_list_id, current_user.user_lists.map{|l| [l.name, l.id] } + [["<Stvori novu listu>", nil]], {}, id: 'list-selection'
      %span.new-list
        = f.label :new_list, "imena"
        = text_field_tag :new_list

    .form-row

    .form-row
      = f.label :note, "Bilješka"
      = f.text_area :note

    .form-actions
      = f.submit "Dodaj", class: "pure-button pure-button-primary"
