%tr
  %th= sortable("albums.artist", "Izvođač")
  %th= sortable("albums.title", "Naslov")
  %th= sortable("albums.year", "Godina")
  %th= sortable("albums.label, catnum", "Label") 
  %th Info
  %th= sortable("albums.average_rating", "Ocjene")
