.album-sets-page
  %h2 Tjedni paket: #{@album_set.name}
  = simple_format @album_set.intro, class: 'intro'
  - @album_set.albums.each do |album, text|
    .album
      %h3 #{album.artist} - #{album.title} (#{album.year})
      = link_to album do
        = image_tag album.image_url, class: 'album-image'
      = simple_format text, class: 'story'
