.home-page

  %section.stats
    .todo-progress-bar
    .legend
      Poslušano #{ number_with_delimiter @stats[:listened] } / 
      Sakupljeno #{ number_with_delimiter @stats[:downloaded] } / 
      Pronađeno #{ number_with_delimiter @stats[:found] }
    
  %section.start-actions
    %h3 Slušaj:
    = link_to "Random", random_albums_path, class: 'pure-button pure-button-primary'
  
    .or ili odaberi:
  
    - [50, 60, 70, 80].each do |d|
      = link_to "#{d}-te", albums_path(decade: d), class: 'tag-link'
    = link_to "pretraži sve", albums_path, class: 'tag-link highlighted'

  %section.latest-comments
    %h3 Najsvježiji komentari

    - @user_ratings.each do |user_rating|
      = render partial: 'home/user_rating', object: user_rating
