%h4 Tvoj komentar 
= form_for(UserRating.new, html: {class: 'user-rating-form'}) do |f|
  = f.hidden_field :album_id, value: @album.id
  = f.text_area :comment

  .form-actions
    = f.label :rating do
      Ocjena
      = f.select :rating, (1..10)
    
    = f.submit "Ocijeni", class: "pure-button pure-button-primary"
