= form_for(@rating, html: {class: 'pure-form pure-form-aligned login-form'}) do |f|

  .pure-control-group
    = f.label :comment
    = f.text_area :comment

  .pure-control-group
    = f.label :rating
    = f.select :rating, (1..10)

  = f.submit "Submit", class: "pure-button pure-button-primary"
