%tr
  %th= sortable("artist", "Izvođač")
  %th= sortable("title", "Naslov")
  %th= sortable("year, label, catnum", "Godina")
  %th= sortable("label, catnum", "Label")
  %th Info
  %th= sortable("average_rating", "Ocjene")
