.user-rating
  .rating{class: "r-#{user_rating.rating}"}= user_rating.rating
  .user= link_to user_rating.user, user_path(user_rating.user)
  .comment= simple_format(user_rating.comment)
  - if current_user && current_user.id == user_rating.user_id
    .edit
      = link_to "Promijeni", edit_user_rating_path(user_rating)
      = link_to "Obriši", user_rating_path(user_rating), method: :delete, data: { confirm: "Sigurno?" }
