.albums-page

  %section.filter
    = form_tag albums_path, class: 'pure-form', method: 'get' do
      %fieldset
        = label_tag :decade do
          Desetljeće:
          = select_tag :decade, options_for_select(decade_options, params[:decade]), class: 'autosubmit'

        = label_tag :label do
          Izdavač:
          = select_tag :label, options_for_select(Label.major, params[:label]), include_blank: 'Svi', class: 'autosubmit'

        = label_tag :show_all do
          = check_box_tag :show_all, "1", params[:show_all], class: 'autosubmit'
          Prikaži i nesakupljene

      %fieldset
        = text_field_tag :search, params[:search], placeholder: "Ime autora ili albuma"
        = hidden_field_tag :sort, params[:sort]
        = hidden_field_tag :direction, params[:direction]
        = submit_tag "Traži", class: 'pure-button pure-button-primary'

      %fieldset
        = label_tag :covers do
          = check_box_tag :covers, "1", params[:covers], class: 'autosubmit'
          Prikaži omote


  %section.albums

    = paginate @albums

    - if params[:covers].present?
      = render 'covers', albums: @albums
    - else
      %table.pure-table.pure-table-striped
        %thead
          = render 'table_header'
        %tbody
          = render @albums

    = paginate @albums
