.albums-page

  %section.filter
    = form_tag albums_path, class: 'pure-form', method: 'get' do
      %fieldset
        = text_field_tag :search, params[:search], placeholder: "Ime autora ili albuma"
        = button_tag "Search", class: 'pure-button pure-button-primary'
    
      %fieldset
        = label_tag :decade, "Desetljeće"
        = select_tag :decade, options_for_select([["Sva", nil], "50", "60", "70", "80", "90"], params[:decade])
      
        = label_tag :downloaded do
          = check_box_tag :downloaded, "1", params[:downloaded]
          Prikaži samo skinute

  %section.albums
  
    = paginate @albums

    %table.pure-table.pure-table-striped
      %thead
        = render 'table_header'
      %tbody
        = render @albums

    = paginate @albums
