.album-page

  %section.album-info
    %h3= link_to @album.artist, albums_path(search: @album.artist)
    = image_tag @album.image_url, class: 'album-image' if @album.image_url.present?
    %h2= @album.title

    .details
      #{@album.label}, #{@album.catnum}, #{@album.year}.

    .album-button
      = link_to "Info", @album.info_url, class: 'pure-button' if @album.info_url
      - if current_user&.upload_access?
        = button_tag "Play", type: 'button', class: 'play-button pure-button pure-button-primary' if @album.tracklist?
        = link_to "Open", @album.download_url, data: {popup: true}, class: 'pure-button' if @album.download_url
      - if @album.spotify_url
        = link_to "Spotify", @album.spotify_url, target: "_blank", class: 'pure-button pure-button-success'

      .minor-links
        =link_to "Dodaj na listu", new_user_list_album_path(album_id: @album.id)
        |
        =link_to "Prijavi pogrešku", new_album_issue_path(album_id: @album.id)

  %section.player-container
    %audio.player{controls: true, data: { album_id: @album.id, tracks: @album.tracks.to_json }}
    .playlist


  %section.album-comments
    %h3 Recenzije

    - if @album.user_ratings.empty?
      .no-comments Nitko još nije recenzirao album.

    - @album.user_ratings.includes(:user).order("created_at").each do |user_rating|
      = render partial: 'albums/user_rating', object: user_rating

    - if current_user && !@album.rated_by?(current_user.id)
      = render 'rating_form'
